.testimonials {
  display: flex;
  justify-content: center;
  padding: 4rem 0 5rem 0;
  width: 100%;
  background: var(--secondary-background-color);

  .testimonialContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 85%;
    gap: 3rem;
  }
}

.testimonialDetail {
  display: flex;
  flex-direction: column;
  width: calc(100% - 555px - 3rem);
  flex: 1;
  gap: 2rem;

  .carousel {
    .swiperContainer {
      padding-bottom: 60px;

      :global(.swiper-pagination-bullet-active) {
        background-color: var(--details-color);
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .testimonialImage {
    display: none;
  }
}
