.inputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;

  .label {
    color: var(--primary-font-color);
    margin-bottom: 0.5rem;
  }

  .input {
    padding: 0.8rem;
    border: 1px solid var(--fourth-details-color);
    border-radius: 0.5rem;
    font-size: 1rem;
    color: var(--primary-font-color);
    background-color: rgba(255, 255, 255, 0.07);

    &:focus {
      outline: none;
      border-color: var(--details-color);
    }

    &::placeholder {
      color: var(--fourth-font-color);
    }
  }

  .error {
    font-size: 0.875rem;
    color: var(--details-color);
    margin-top: 0.25rem;
  }
}

@media (max-width: 230px) {
  .inputContainer {
    .label {
      font-size: 0.9rem;
    }

    .input {
      padding: 0.6rem 0.8rem;
      font-size: 0.9rem;
    }
  }
}
