.ordination {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  flex: 1;

  .sortBy {
    min-width: 54px;
    color: var(--fourth-font-color);
  }

  .iconWrapper {
    display: flex;
    font-size: 1.5rem;
    color: var(--fourth-font-color);
  }
}

.inputWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--background-color);
  border: 1px solid var(--fourth-details-color);
  border-radius: 8px;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
  cursor: pointer;
  transition: border 0.3s ease;
  position: relative;
  max-width: 180px;
  width: 100%;

  &:focus-within,
  &:hover {
    border: 1px solid var(--details-color);
  }

  .selectedOption {
    width: 100%;
    color: var(--primary-font-color);
  }

  .icon {
    font-size: 1.4rem;
    color: var(--fourth-font-color);
    position: relative;
    transition: transform 0.3s ease;

    &.open {
      transform: rotate(180deg);
    }
  }
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  background-color: var(--background-color);
  border: 1px solid var(--fourth-font-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  margin-top: 0.5rem;
}

.dropdownItem {
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: var(--fourth-font-color);

  &:hover {
    color: var(--details-color);
  }
}

@media screen and (max-width: 520px) {
  .ordination {
    width: 100%;
    justify-content: flex-start;
  }

  .inputWrapper {
    max-width: 100%;
  }
}

@media screen and (max-width: 280px) {
  .ordination {
    flex-wrap: wrap;
  }
}
