.destinationGalley {
  display: flex;
  justify-content: center;
  padding: 9rem 0 4rem 0;
  width: 100%;
  background: var(--background-color);

  .destinationContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    gap: 1rem;
  }
}

@media screen and (max-width: 1000px) {
  .destinationGalley {
    padding: 13rem 0 4rem 0;
  }
}

@media screen and (max-width: 520px) {
  .destinationGalley {
    padding: 17rem 0 4rem 0;
  }
}
