* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", "Work Sans", "Kaushan Script";

  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  &::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 3px solid #f0f0f0;
  }
}

:root {
  --background-color: #ffffff;
  --secondary-background-color: #f7f8fa;
  --third-background-color: #111111;
  --fourth-background-color: #c7c8c9;

  --details-color: #fd5056;
  --secondary-details-color: #db4248;
  --third-details-color: #bc6063;
  --fourth-details-color: #a9afbb;

  --primary-font-color: #041036;
  --secondary-font-color: #c7c7c7;
  --third-font-color: #cfcfcf;
  --fourth-font-color: #646a82;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

li {
  list-style: none;
}
