.basicInfoSection {
  display: flex;
  justify-content: center;
  padding: 1rem 0 1rem 0;
  width: 100%;

  .basicInfoContainer {
    display: flex;
    flex-direction: column;
    width: 85%;
    gap: 1.2rem;
  }
}

.title {
  width: 65%;
  font-size: 1.7rem;
  font-family: "Work Sans";
  font-weight: bold;
}

.infoContainer {  
  background-color: var(--secondary-background-color);
  width: 65%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1.5rem;
}

@media (max-width: 800px) {
  .title {
    width: 100%;
  }
  
  .infoContainer {  
    width: 100%;
  }
}