.loginSocial {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid var(--fourth-details-color);
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 8px;
  gap: 1rem;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--secondary-background-color);
  }
}

.text {
  font-size: 1.1rem;
  color: var(--primary-font-color);
}

@media (max-height: 700px) {
  .text {
    font-size: 1rem;
  }
}

@media (max-width: 230px) {
  .loginSocial {
    gap: 0.5rem;
  }

  .icon {
    width: 20px;
    height: auto;
  }

  .text {
    font-size: 0.9rem;
  }
}
