.tourMostPopular {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  padding: 9rem 0 4rem 0;
  gap: 3rem;
}

.carousel {
  width: 85%;

  .swiperContainer {
    padding-bottom: 60px;

    :global(.swiper-pagination-bullet-active) {
      background-color: var(--details-color);
    }
  }
}

@media screen and (max-width: 1000px) {
  .tourMostPopular {
    padding: 13rem 0 4rem 0;
  }
}

@media screen and (max-width: 520px) {
  .tourMostPopular {
    padding: 17rem 0 4rem 0;
  }
}

@media screen and (max-width: 210px) {
  .carousel {
    .swiperContainer {
      padding-bottom: 80px;
    }
  }
}
