.authentication {
  display: flex;
  height: 100vh;
  width: 100%;
}

.imageContainer {
  z-index: -1;
}

.formContainer {
  max-width: 450px;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--background-color);
}

.logo {
  align-self: flex-start;
  margin-bottom: 2rem;
}

.title {
  font-family: "Work Sans";
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.socialLogin {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.orDivider {
  margin: 1rem 0;
  text-align: center;
  width: 100%;
  position: relative;

  &::before,
  &::after {
    content: "";
    height: 1px;
    background: var(--primary-font-color);
    position: absolute;
    top: 50%;
    width: 45%;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .submitButton {
    margin-top: 1rem;
    padding: 0.75rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--details-color);
    color: var(--background-color);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: var(--secondary-details-color);
    }
  }
}

.bottomText {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 0.875rem;

  a {
    color: var(--details-color);
    font-weight: bold;
  }
}

@media (max-height: 700px) {
  .formContainer {
    padding: 1.5rem;
  }

  .logo {
    margin-bottom: 0.5rem;
  }

  .title {
    margin-bottom: 0.5rem;
  }

  .socialLogin {
    gap: 0.5rem;
  }

  .orDivider {
    margin: 0.5rem 0;
  }

  .form {
    gap: 0.5rem;
  
    .submitButton {
      margin-top: 0.5rem;
    }
  }

  .bottomText {
    margin-top: 0.5rem;
  }
}